  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navegation">
    <div class="container">
      <div class="navbar-header">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Start Bootstrap</a>
      </div>
      
      <div class="collapse navbar-collapse" id="bs-exemple-navbar-collapse-1">
        <ul class="nav navbar-nav">  
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>          
          <li>
            <a href="#">Contact</a>
          </li>                    
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-md-3">

        <p class="lead">MinionsApp</p>
        <div class="list-group">
          <a href="#" class="list-group-item">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>

      </div>

      <div class="col-md-9">

        <div class="row carousel-holder">
          <div class="col-md-12"
            <div id="carousel-exemple-generic" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-exemplexample-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-exemple-generic" data-slide-to="1"></li>
                <li data-target="#carousel-exemple-generic" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" src="http://placehold.it/800x300" alt="">
              <div class="carousel-inner" src="http://placehold.it/800x300" alt="">     
              <div class="carousel-inner" src="http://placehold.it/800x300" alt="">     
            </div>
            <a class="left carousel-control" href="#carousel-exemple-generic" data-slide="prev">
              <spam class="glyphicon glyphicon-chevron-left"></spam>
            </a>  
            <a class="left carousel-control" href="#carousel-exemple-generic" data-slide="next">            
              <spam class="glyphicon glyphicon-chevron-right"></spam>             
            </a>
          </div>
        </div>
      
        <div class="row">

          <div class="col-sm-4 col-lg-6 col-mb-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
                <h4 class="pull-right">$24,99</h4>
                <h4><a href="#">First Product</a></h4>
                <p>See more snippets like this online store item <a target="_blank" href="http://bootsnipp.com"/>Bootsnipp</a>.</p>
              </div>  
              <div class="ratings">
                <p class="pull-right">15 Views</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>                  
                  <span class="glyphicon glyphicon-star"></span>                  
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </p>
              </div>
            </div>
          </div>  
          <div class="col-sm-4 col-lg-6 col-mb-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
                <h4 class="pull-right">$24,99</h4>
                <h4><a href="#">First Product</a></h4>
                <p>See more snippets like this online store item <a target="_blank" href="http://bootsnipp.com"/>Bootsnipp</a>.</p>
              </div>  
              <div class="ratings">
                <p class="pull-right">15 Views</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>                  
                  <span class="glyphicon glyphicon-star"></span>                  
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </p>
              </div>
            </div>
          </div> 
          <div class="col-sm-4 col-lg-6 col-mb-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
                <h4 class="pull-right">$24,99</h4>
                <h4><a href="#">First Product</a></h4>
                <p>See more snippets like this online store item <a target="_blank" href="http://bootsnipp.com"/>Bootsnipp</a>.</p>
              </div>  
              <div class="ratings">
                <p class="pull-right">15 Views</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>                  
                  <span class="glyphicon glyphicon-star"></span>                  
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </p>
              </div>
            </div>
          </div>  
          <div class="col-sm-4 col-lg-6 col-mb-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
                <h4 class="pull-right">$24,99</h4>
                <h4><a href="#">First Product</a></h4>
                <p>See more snippets like this online store item <a target="_blank" href="http://bootsnipp.com"/>Bootsnipp</a>.</p>
              </div>  
              <div class="ratings">
                <p class="pull-right">15 Views</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>                  
                  <span class="glyphicon glyphicon-star"></span>                  
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </p>
              </div>
            </div>
          </div>  
          
        </div>
      </div>
    </div>
  </div>  
    <div class="container">
      <hr>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Your Website 2014</p>
          </div>
        </div>
      </footer>  
    </div>
 
